<h1>Seja Bem-vindo</h1>
<p>O idioma usado nessa aplicação é: <b><%= locale %></b></p>
<p><%= t('hello') %></p>
<p>Ycaro Pires</p>

<p><strong>Data:</strong> <%= l(Date.today) %></p>

<p>Sou uma variável de instãncia/sessão: <strong> <%= @nome %> </strong></p>

<%= render "menu"%>